
.mainSiteWrapper{
  max-width: 700px;
  background-color: #fff;
  margin: 25px auto;

  .mainSiteHeader {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-around;
    margin: auto;

    .wrapOrder{
      background-image: url("/images/assets/pizza-1.jpg");

    }

    .wrapBook{
      background-image: url("/images/assets/pizza-2.jpg");
    }

    .openingHours {
      background-color: #F76669;
      width: 99%;
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      letter-spacing: 1px;
      color: #fff;
      text-align: center;
      margin-top: 5px;
      border-radius: 5px;

    }
  }
}
