
/* Global */

.hWrapper {
  position: relative;
  width: 49%;
  height: 120px;
  margin-top: 25px;
  border-radius: 5px;
  background-position: center;

  text-align: center;

  a {
    // position: absolute;
    // top: 50%;
    // left: 0;
    // transform: translateY(-50%);
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
  }
}

/* main site */

.mainSiteWrapper{
  max-width: 700px;
  background-color: #fff;
  margin: 25px auto;

  .mainSiteHeader {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-around;
    margin: auto;

    .wrapOrder{
      background-image: url("/images/assets/pizza-1.jpg");

      p{
        color: white;
      }
    }

    .wrapBook{
      background-image: url("/images/assets/pizza-2.jpg");
    }

    .openingHours {
      background-color: #F76669;
      width: 99%;
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      letter-spacing: 1px;
      color: #fff;
    }
  }
}
